<div class="container">
	<h2 class="text-center text-info my-3">All Portfolios</h2>

	<%= render 'shared/information' %>
	<div class="row">
		<div class="col">
			<h2 class="text-center">Portfolios</h2>
			<%= will_paginate @portfolios, class: "text-center" %>
		</div>
	</div>
	<%= render 'shared/portfolio_list' %>
</div>
