<div class="container">
	<h2 class="text-center text-info my-3">All Portfolios</h2>

	<%= render 'shared/information' %>
	<div class="row">
		<div class="col">
			<h2 class="text-center">Portfolios</h2>
		</div>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8-sm mx-5 portfolios-list">
			<ul>
				<% @portfolios.each do |portfolio| %>
					<%= render 'shared/portfolio', object: portfolio %>
				<% end %>
			</ul>
		</div>
		<div class="col"></div>
	</div>
</div>
