<div class="container">
	<div class="row mb-5">
		<div class="col-12">
			<h2 class="text-center text-info my-3"><%= @user.name.capitalize %>'s portfolios</h2>
			<%= will_paginate @portfolios, class: "text-center" %>
		</div>
	</div>
	<%= render 'shared/portfolio_list' %>
</div>
