<p class="mx-5 text-center text-muted small border-top mt-3">Data provided for free by <%= link_to "IEX", "https://iextrading.com/developer" %>. View <%= link_to "IEX's Terms of Use.", "https://iextrading.com/api-exhibit-a/" %></p>
