<header class="bg-secondary">
	<div class="row align-items-end">
		<div class="col order-3 order-sm-1"></div>
		<div class="col-sm-6 order-1 order-sm-2">
			<h1 class="text-center pb-3"><%= link_to "Portfolio Backtester", root_path, class: "text-white" %></h1>
		</div>
		<div class="col-sm col-12 order-2 order-sm-3">
			<div class="dropdown text-sm-right text-center p-4">
				<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<% if user_signed_in? %>
						<%= render 'layouts/signed_in_header' %>
					<% else %>
						<%= render 'layouts/signed_out_header' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</header>
